{% extends 'crud/base.html' %}

{% block content %}

<h3>Listes des Membres</h3>

<br>

<table class='table  table-striped table-bordered table-hover'>
<thead class="thead-dark">
 	<tr>
		<th>Civilité</th>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Date de Naissance</th>
	</tr>
</thead>
<tbody>
	{% for object in object_list %}
	<tr>
		<td>{{object.civilite}}</td>
		<td><a href="{% url "membre_read" object.id %}">{{object.nom}}</a></td>
		<td>{{object.prenom}}</td>
		<td>{{object.date_de_naissance}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>


{% endblock content %}